a {
  font-weight: 500;
  color: #0177A9;
  text-decoration: inherit;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

a.active {
  font-weight: bold;
}


.ralewayFont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
}